/* element selector */
body {
  background-color: skyblue;
  margin: 10px;
  margin-right: 10px;
  /* border: 10px lightgrey solid; */
}
header {
  background-color: rgba(119, 90, 90, 0.6);
  position: absolute;
  top:0;
  width: 99%;
  background-color: rgba(125,125,125,0.7);
}
#holder{
  
  margin-top: 8%;
  margin-left: 10px;
}
section {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px 30px;
  margin-top: 70px;

}
article {
  font: size 15px;
  line-height: 25px;
}
.title {
  font-size: 23px;
  font-weight: bold;
}
.date {
  font-style: italic;
  font-size: 15px;
  text-transform: uppercase;
}

/* link style */
nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: left;
    margin-right: 40px;
}
#hobby{
    margin-top: 8%;
    border-top: 2px solid white;
    clear: left;
}
#skills{
  border-top: 2px solid white;
}
#star{
  border-left:8px ;
border-radius:4px;
padding-left:15px;
}
#stars{
  border-left:8px ;
border-radius:4px;
padding-left:15px;
}

#s-list{
  float: left;
  margin-right: 2%;
}
#s-list>p{
  padding-bottom: 5px;
  line-height: 23px;
}
#stare>p{
  padding-top: 16px;
  line-height: 15px;
}
footer{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  clear: both;
}

#contact-us{
  margin-top: 8%;
  border-bottom: 2px solid white;
  clear: both;
  padding-bottom: 10px;
}
form{
  padding: 5px;
}
form>div{
  border-left:8px ;
  border-radius:4px;
  padding:10px;
}
form>div>label{
  padding-right: 20px;
}
input[type=submit]{
  margin-left: 200px;
}
.form1{
  float: left;
}
#sub{
  margin-left: 200;
  width: 50px;
}
#map1{
  float: right;
  margin-right: 500px;
}
.work>p{
  display: flex;
  text-align: center;
}
#work>a{
  display: flex;
  color: black;
  text-decoration: none;
  padding: 44px 45px;
  text-align: center;
  font-family: fantasy;
  
  /* display: inline-block; */
}

#work>img{
  border-radius: 8px;
}
@media  (
  min-width:450px){
header{
      font-size:1.5rem;
  }
}