/* element selector */
body {
  background-color: skyblue;
  margin: 10px;
  /* border: 10px lightgrey solid; */
}
header {
  background-color: rgba(119, 90, 90, 0.6);
  position: absolute;
  top:0;
  width: 100%;
  background-color: rgba(125,125,125,0.7);
}
section {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px 30px;
  margin-top: 70px;

}
article {
  font: size 15px;
  line-height: 25px;
}
.title {
  font-size: 23px;
  font-weight: bold;
}
.date {
  font-style: italic;
  font-size: 15px;
  text-transform: uppercase;
}

/* link style */
nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}
#clear{
    clear: left;
}